<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

<!-- %d : 날짜 및 시간을 출력
	 %5p : 공백의수
	 %c : 로그이름을 나타낸다  
	 %msg : 실제 메세지
	 %n : 줄바꿈 -->
    <encoder>
      <pattern>%d %5p [%c] %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 좀 더 자세한 로그를 찍기 위해서 패키지 별로 log 설정 -->
  <logger name="com.ezen.www" level="info" appender-ref="STDOUT"></logger>
  <logger name="org.springframework" level="info" appender-ref="STDOUT"></logger>
  <logger name="org.springframework.jdbc" level="info" appender-ref="STDOUT"></logger>
  <logger name="jdbc.sqlonly" level="info" appender-ref="STDOUT"></logger>
  <logger name="jdbc.resultsettable" level="info" appender-ref="STDOUT"></logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>